# Pandas

Pandas는 python module로 row와 column으로 이루어진 tabular data를 다룰 때 사용한다.
Tabular data는 SQL이나 Excel과 비슷한 기능을 가지지만 Pandas는 거기에 python의 유용한 기능까지 추가로 제공한다.

## Creating, Loading and Selecting Data

pandas를 사용하기 위해서는 먼저 python file에 import해 주어야 한다.

In [1]:
import pandas as pd

tabular data는 두 가지 방법으로 얻을 수 있는데 한 가지는 직접 table을 만드는 것이고 다른 한 가지는 csv(Comma Separated Variables)파일을 load하는 방법이다.

In [4]:
heights = pd.DataFrame({
    'name': ['Tom', 'Ronald', 'Frank'],
    'heights': [182, 165, 190]
})
'''
     name  heights
0     Tom      182
1  Ronald      165
2   Frank      190
'''

'\n     name  heights\n0     Tom      182\n1  Ronald      165\n2   Frank      190\n'

DataFrame은 row와 column으로 되어있으며, column은 각각마다 string으로 된 이름을 가지고 있다. 
Row는 각각 integer로 된 index를 가지고 있다. 
DataFrames은 string, integer 뿐만 아니라 floats, tuple등 다양한 데이터를 store할 수 있다.

In [11]:
menus = pd.read_csv('menus.csv')
print(menus)
print(menus.info())

        coffee  price($)  calories(kcal)
0     Espresso       1.5              10
1    Americano       2.5              15
2  Caffe Latte       3.0             100
3    Cappucino       3.0             130
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
coffee            4 non-null object
price($)          4 non-null float64
calories(kcal)    4 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes
None

Column을 선택할 때는 dot convention 또는 ['COLUMN_NAME']의 방법으로 선택한다.
하나의 column을 선택할 때 그 result를 **Series**라고 한다.

In [13]:
print(type(menus.coffee))

<class 'pandas.core.series.Series'>

한편, row를 select할 때는 `iloc`라는 method를 사용한다.

In [17]:
americano = menus.iloc[1]
three_coffees = menus.iloc[:3]

'''
        coffee  price($)  calories(kcal)
0     Espresso       1.5              10
1    Americano       2.5              15
2  Caffe Latte       3.0             100
'''

print(type(americano))

<class 'pandas.core.series.Series'>

index를 통해 row를 선택하는 경우도 물론 있겠지만, 일반적으로는 logic을 만족하는 row를 선택하는 경우가 더 많을 것이다.
그 때는 `df[df.MyColumnName == desired_column_value]` 의 syntax를 사용하며 `&`, `|`의 논리연산자를 이용하여 다수의 condition을 조합할 수 있다.

In [28]:
light_coffee = menus[menus['calories(kcal)'] < 50]
'''
      coffee  price($)  calories(kcal)
0   Espresso       1.5              10
1  Americano       2.5              15
'''

light_and_cheap_coffee = menus[(menus['calories(kcal)'] < 50) &\
                              (menus['price($)'] < 2.0)]
'''
    coffee  price($)  calories(kcal)
0  Espresso       1.5              10
'''

'\n    coffee  price($)  calories(kcal)\n0  Espresso       1.5              10\n'